.upload_image_wrapper {
  cursor: pointer;
  width: 20em;
  height: 13.688em;
  margin-top: 8px;
  font-family: "Futura PT";
  font-style: "normal";
  font-weight: "450";
  font-size: "18px";
  line-height: "150%";
  letter-spacing: "0.05em";
  color: "#424041";
  text-transform: "none";
  border: 2px dashed #000000;
  border-radius: 0px;
  background-color: transparent;
}

.upload_image {
  cursor: pointer;
  width: 20em;
  height: 13.688em;
  margin-top: 8px;
  object-fit: cover;
  border-radius: 0px;
  border: 2px solid #000000;
}

.block {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 4em;
}

.block__item-element {
  display: grid;
  grid-auto-flow: column;

  margin-top: 32px;
}

.block__item-element__row {
  display: grid;
  grid-auto-flow: row;
  height: min-content;
  width: 20em;

  margin-top: 32px;
}

.item-element__content {
  display: grid;
  grid-auto-flow: row;
}

.template-input-btn {
  display: grid;
  grid-auto-flow: column;
  gap: 64px;
  width: max-content;
  margin-top: 8px;
}

.block__item__column {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
}

.btn-img-delete {
  display: grid;
  grid-auto-flow: row;
  width: max-content;
}

.div-upload_image_wrapper {
  display: grid;
  grid-auto-flow: row;
  width: min-content;
  height: max-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
