* {
    box-sizing: border-box;
    margin: 0;
}
.row {
    display: flex;
    flex-flow: row nowrap;
}
.col {
    display: flex;
    flex-flow: column nowrap;
}
.center {
    display: grid;
    place-items: center;
}


.mainPage {
    width: 100%;
    composes: center;
}

.testFrame {
    display: grid;
    //width: clamp(1280px, 100%, 1920px);
    width: clamp(400px, 100%, 1920px);
    grid-template: 1000px /
        100px 1000px minmax(100px, 1fr);

    @media screen and (max-width: 1200px){
        grid-template-columns: 100fr 700px 400fr;
    }
    // 732px и ещё 20px запас для ширины вертикального скроллбара
    @media screen and (max-width: 752px){
        grid-template-columns: 16px minmax(300px, 1fr) 16px;
    }
}
.test1 {
    grid-area: 1 / 1;
    background: aquamarine;
}
.test2 {
    grid-area: 1 / 2;
    background: bisque;
}
.test2Titles {
    margin-top: 279px;
    composes: col;
}
.test3 {
    grid-area: 1 / 3;
    background: aqua;
}





.firstFrame {
    display: grid;
    position: relative;
    min-width: 1280px; width: 100%; max-width: 1920px;
    grid-template: 80px 1000px / minmax(1000px,76%) minmax(300px,24%);
    //background: black;

    @media screen and (max-width: 1280px) {

    }
}


.bgcImage {
    //grid-area: 1 / 1 / 3 / 3;
    width: 100%; height: 100%;
    position: absolute;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.56;
    z-index: -1;
}
.bgcColor {
    width: 100%; height: 100%;
    position: absolute;
    background: black;
    z-index: -2;
}


.horizontalLine {
    grid-area: 1 / 1 / 2 / 3;
    align-self: end;
    justify-self: stretch;
    height: 1px;
    background: #8B8B8B;
}

.verticalLine {
    grid-area: 1 / 2 / 3 / 3;
    align-self: stretch;
    justify-self: start;
    width: 1px;
    background: #8B8B8B;
}

.logoBox {
    grid-area: 1 / 1 / 2 / 2;
    align-self: start;
    justify-self: start;
    margin-top: 12.82px;
    margin-left: 64px;
    width: 63.76px; height: 54.36px;
}

.titleContainer {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 279px;
    margin-left: 64px;
}
.title {
    font: 900 96px var(--font-family-text);
    color: #FCFCFC;
    letter-spacing: -0.04em;
    line-height: 85.7%;
}
.subtitle {
    font: 450 24px var(--font-family-text);
    color: #FCFCFC;
    letter-spacing: 0.05em;
}



.selectText {
    font: 450 18px var(--font-family-text);
    color: #FCFCFC;
    letter-spacing: 0.05em;
}

.selectMenuButton {
    composes: row;
    align-items: center;
    height: 64px;
    border: 1px solid #f8f8f8;
    backdrop-filter: blur(24px);
}
.selectMenuButtonTitle {
    padding-left: 31px;
    padding-right: 13px;
    composes: selectText;
}
.selectMenuButtonIcBox {
    align-self: stretch;
    width: 64px;
    display: grid;
    place-items: center;
    padding-left: 13px;
    padding-right: 32px;
}

.start {
    border-right-width: 0.5px;
}
.middle {
    border-right-width: 0.5px;
    border-left-width: 0.5px;
}
.end {
    border-left-width: 0.5px;
}



.selectBtn {
    height: 64px;
    border: 1px solid #f8f8f8;
    composes: selectText;
    color: black;
    background: #B4EFA6;
}




.linksContainer {
    grid-area: 2 / 2 / 3 / 3;
    composes: col;
    margin-top: 302px;
    margin-left: 112px;
    gap: 40px;
}


.linkBox {
    composes: row;
    width: 254px;
    height: 64px;
    align-items: center;
}
.linkTitle {
    flex-grow: 1;
    font: 450 24px var(--font-family-text);
    color: #FCFCFC;
    letter-spacing: 0.05em;
}
.linkIcBox {
    composes: center;
    width: 64px; height: 64px;
    border: 1px solid #F8F8F8;
}







.secondFrame {
    min-width: 1280px; width: 100%; max-width: 1920px;
    //width: Max(fit-content, 100%);
    min-height: 720px;
    composes: center;
    background: #171717;
}
.secondContainer {
    composes: row;
    //flex-flow: row wrap;
    align-items: flex-start;
    gap: 64px;
}
.secondBox {
    width: 400px;
    composes: col;
}
.secondTitle {
    font: 500 48px var(--font-family-text);
    color: #F8F8F8;
}
.secondText {
    font: 450 18px var(--font-family-text);
    color: #F8F8F8;
    letter-spacing: 0.05em;
}
