.upload_image_wrapper {
  cursor: pointer;
  width: 15em;
  height: 15em;
  margin-top: 8px;
  font-family: "Futura PT";
  font-style: "normal";
  font-weight: "450";
  font-size: "18px";
  line-height: "150%";
  letter-spacing: "0.05em";
  color: "#424041";
  text-transform: "none";
  border: 2px dashed #000000;
  border-radius: 0px;
  background-color: transparent;
}

.upload_image {
  cursor: pointer;
  width: 15em;
  height: 15em;
  margin-top: 8px;
  object-fit: cover;
  border-radius: 0px;
  border: 2px solid #000000;
}

.wrapper-section {
  margin-top: 16px;
  display: grid;
  grid-auto-flow: row;
  height: max-content;
}

.wrapper-section__item {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}

.wrapper-section__item__map {
  display: grid;
  grid-auto-flow: row;
  width: 90%;
  margin-left: 4em;
  margin-right: 4em;
}

.wrapper-section__item__map-element {
  margin-top: 32px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.wrapper-section__item-element__column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

.wrapper-section__item-element__row {
  display: grid;
  grid-auto-flow: row;
}

.wrapper-section__item-element {
  margin-top: 32px;
}

.wrapper-section__element-description {
  margin-top: 32px;
  display: grid;
  grid-template-rows: 0.08fr 1fr;
  grid-auto-flow: row;
}

.wrapper-section__element-description-input {
  width: 25em;
}

.grid-item__right {
  display: grid;
  justify-content: right;
}

.grid-item__left {
  display: grid;
  justify-content: left;
}

.wrapper-section__item-element__map {
  height: 40em;
  margin-top: 16px;
}

.wrapper-section__item__sub {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .wrapper-section__item-element__column {
    grid-template-columns: none;
    grid-auto-flow: row;
    justify-content: center;
  }
  
  .wrapper-section__item__map-element {
    grid-template-columns: none;
    grid-auto-flow: row;
    justify-content: center;
  }

  .grid-item__right {
    margin-top: 16px;
    justify-content: start;
  }
  
  .grid-item__left {
    justify-content: start;
  }

  .wrapper-section__item-element__map {
    width: 80%;
  }
}
