

.project-wrapper__header{
    margin-top: 2em;
    display: grid;
    position: relative;
    width: 100%;
    height: max-content;
    grid-auto-flow: row;
    justify-content: center;
}

.project-info__header {
    margin-left: 6em;
    margin-right: 6em;
    display: grid;
    position: relative;
    justify-content: center;
    width: 43.75em;
    height: max-content;
    grid-auto-flow: row;
}

.project-info-title__header {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    place-items: center;
    justify-content: center;
    gap: 64px;
}

.project-description__header {
    margin-top: 16px;
    margin-right: 6em;
    grid-auto-flow: row;
    align-items: center;
    display: grid;
    position: relative;
    height: max-content;
    width: 100%;
}

.text-project-title {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;

    color: #000000;
}

.text-project-contact__header {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 150%;

    letter-spacing: 0.05em;

    color: #8B8B8B;
}

.text-project-description {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 150%;

    letter-spacing: 0.05em;

    color: #000000;
}
