

.allDefault {
    all: unset;
    box-sizing: border-box;
    margin: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
}
.row {
    display: flex;
    flex-flow: row nowrap;
}
.col {
    display: flex;
    flex-flow: column nowrap;
}
.center {
    display: grid;
    place-items: center;
}
.abs {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.elementsFrame {
    width: clamp(400px, 100%, 1920px);
    padding: 0 64px 0 64px;
}






.page {
    width: 100%;
    background: #F8F8F8;
    @extend .center;
}

.mainFrame {
    @extend .col;
    width: 100%;
}

.mainTitle {
    @extend .elementsFrame; width: fit-content;
    font: 500 36px var(--font-family-text);
    color: black;
}



.fieldsContainer {
    @extend .elementsFrame;
    display: flex;
    flex-flow: row wrap;
    height: fit-content;
    align-items: flex-end;
    justify-content: space-between;
    gap: 32px 60px;

    .widgetBox {
        @extend .col;

        .title {
            display: grid;
            place-items: center start;
            height: 27px;
            font: 500 18px var(--font-family-text);
            color: #424041;
            letter-spacing: 0.05em;
        }

        .apply {
            @extend .allDefault;
            @extend .center;
            width: 280px; height: 59px;
            background: #B4EFA6;
            border: 1px solid #424041;
            cursor: pointer;
            font: 500 18px var(--font-family-text);
            color: black;
            letter-spacing: 0.05em;
            line-height: 150%;
        }
    }
}



.mapBox {
    @extend .elementsFrame; height: 628px;
    @extend .center;
}

.objectCardFrame {
    @extend .elementsFrame;
    margin-top: -62px; z-index: 2;
    height: 365px;
    position: relative;

    .container {
        @extend .abs;
        display: grid;
        height: fit-content;
        overflow-x: scroll;
        place-items: start;
        .list {
            @extend .row;
            column-gap: 48px;
            padding: 0 64px;
        }
    }

}





