* {
    box-sizing: border-box;
    margin: 0;
}
.row {
    display: flex;
    flex-flow: row nowrap;
}
.col {
    display: flex;
    flex-flow: column nowrap;
}
.center {
    display: grid;
    place-items: center;
}



.page {
    width: 100%;
    composes: center;
}

.mainFrame {
    composes: col;
    width: clamp(400px, 100%, 1920px);
}

.mainTitle {
    padding: 0 64px 0 64px;
    font: 450 36px var(--font-family-text);
    color: black;
}

.formFrame {
    display: grid;
    grid:
        '. first-title . second-title . third-title . fourth-title .'
}



.elementContainer {

    .title {
        font: 450 24px var(--font-family-text);
        letter-spacing: 0.05em;
        color: #424041;

        .required {
            color: #8B8B8B;
        }
    }



}